<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <security-role>
        <description>admin</description>
        <role-name>admin</role-name>
    </security-role>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected Area</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
        <user-data-constraint>
        <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>CL.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionServlet</servlet-name>
        <servlet-class>CL.TransactionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewCustomerServlet</servlet-name>
        <servlet-class>CL.NewCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserBean</servlet-name>
        <servlet-class>CL.UserBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordResetServlet</servlet-name>
        <servlet-class>CL.PasswordResetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportsServlet</servlet-name>
        <servlet-class>CL.ReportsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnectionPool</servlet-name>
        <servlet-class>CL.ConnectionPool</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterRequest</servlet-name>
        <servlet-class>CL.FilterRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CookieUtil</servlet-name>
        <servlet-class>CL.CookieUtil</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionServlet</servlet-name>
        <url-pattern>/TransactionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewCustomerServlet</servlet-name>
        <url-pattern>/NewCustomerServlet</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/Error_404.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/Error_java.jsp</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>UserBean</servlet-name>
        <url-pattern>/UserBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordResetServlet</servlet-name>
        <url-pattern>/PasswordResetServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportsServlet</servlet-name>
        <url-pattern>/ReportsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnectionPool</servlet-name>
        <url-pattern>/ConnectionPool</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterRequest</servlet-name>
        <url-pattern>/FilterRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CookieUtil</servlet-name>
        <url-pattern>/CookieUtil</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
